@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wfb79s');
	src:url('fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?wfb79s') format('truetype'),
		url('fonts/icomoon.woff?wfb79s') format('woff'),
		url('fonts/icomoon.svg?wfb79s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e902";
  }

  .icon-twitter:before {
	content: "\e900";
	color: #1da1f2;
  }

  .icon-chat:before {
	content: "\e96f";
  }

  .icon-hamburger:before {
	content: "\e9bd";
  }

  .icon-amazon:before {
	content: "\ea87";
  }

  .icon-twitch:before {
	content: "\ea9f";
  }

  .icon-steam:before {
	content: "\eaad";
  }

  .icon-linkedin:before {
	content: "\eaca";
  }

  .icon-facebook:before {
	content: "\e901";
  }