* {
    font-family: 'Roboto Condensed', sans-serif;
}

/*MOBILE - fonts, navigation, images
=======================================*/
@media only screen and (min-width: 500px) {
    .nav-menu {
      display: none;
    }
}

/*DESKTOP
=======================================*/


/*FOOTER
=======================================*/
footer {
    background-color: black;
    color: rgba(255,255,255, 0.5);
    width: 100%;
    margin: 0;
    display: block;
    position:absolute;
    text-align: center;
    padding: 5% 0;
}

footer p {
    position: relative;
    margin: 1% 0;
    display: block;
    font-size: .8em;
}

footer div {
    position: relative;
    font-size: 1.5em;
}
